hr {
	border: 1px solid var(--secondary);
}

html {
	color: var(--primary);
	background-color: var(--secondary);
}

input {
	color: var(--secondary);
	background-color: var(--primary);
}

button {
	@apply bg-blue-600 rounded px-2 py-2 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 font-bold;
}

a {
	text-decoration: underline;
	text-decoration-color: var(--whitey);
}

button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

main {
	@apply container mx-auto px-2;
}

h1 {
	@apply text-center text-2xl my-8;
}
h2 {
	@apply text-xl my-4;
}
h3 {
	@apply text-lg my-3;
}

.error {
	@apply text-center mt-8 text-red-500;
}
