hr {
  border: 1px solid var(--black);
}

html {
  color: var(--whitey);
  background-color: var(--black);
}

input {
  color: var(--black);
  background-color: var(--whitey);
}

button {
	@apply bg-blue-600 rounded px-2 py-2 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 font-bold;
}

button:disabled {
	opacity: 0.5;
	pointer-events: none;
}
